
<h3><%=  @album.title %> </h3>
<ul>
  <li> Year: <%=  @album.year %> </li>
  <li> Where: <%=   @album.studio ? "Studio" : "Live" %> </li>
  <li> Title: <%=  @album.title %> </li>
  <li> Band Name: <%=  @album.band.name %> </li>
</ul>

<button> <a href="<%= edit_album_url(@album) %>" >Edit Album</a></button>
<%= button_to 'Delete Album', album_url(@album), method: :delete %>
